org.eclipse.lemminx/src/test/resources/xsd/Child.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="ChildTypes"
           xmlns="ChildTypes"
           elementFormDefault="unqualified">
  <xs:complexType name="SomeGenericType">
    <xs:sequence>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>