org.eclipse.lemminx/src/test/resources/xsd/choice.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xs:element name="person">
        <xs:complexType>
            <xs:choice
                    minOccurs="2"
                    maxOccurs="3">
                <xs:element name="employee"/>
                <xs:element name="member"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>