org.eclipse.lemminx/src/test/resources/xsd/mixed-element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="mixedElement">
	<xs:complexType mixed="true">
		<xs:sequence>
			<xs:element
					name="authors"
					maxOccurs="unbounded" />
			<xs:element
					name="author"
					maxOccurs="unbounded"
					type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:element>
<xs:element
		name="notMixed" type="xs:integer"/>
</xs:schema>