org.eclipse.lsp4xml/src/test/resources/xsd/modelGroup/choiceMaxOccursOnlyChoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="data">
        <xs:complexType>
            <xs:choice maxOccurs="3">
                <xs:element name="e1"/>
                <xs:element name="e2"/>
                <xs:element name="e3"/>
                
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>