org.eclipse.lsp4xml/src/test/resources/xsd/modelGroup/sequenceMaxOccurs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="e1"/>
                <xs:element name="e2" maxOccurs="2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>