org.eclipse.lemminx/src/test/resources/validation/schema/src-resolve.xsd

<?xml version="1.1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="A">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="A.1" type="xs:string" />
				<xs:element name="A.2" type="XXXXX" /> 
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
</xs:schema>